.st0 {
	fill: #71e5fa;
}
.st1 {
	fill: #4cb5e9;
}
.st2 {
	fill: #00245f;
}
.st3 {
	fill: #3360af;
}
.st4 {
	fill: #295099;
}
.st5 {
	fill: #043078;
}
.st6 {
	fill: url(#SVGID_1_);
}
.st7 {
	fill: url(#SVGID_00000116932654927816734240000008115990295283135902_);
}
.st8 {
	fill: url(#SVGID_00000178922842560240505160000007732142255667511203_);
}
.st9 {
	fill: url(#SVGID_00000170258712792018381560000007582882935689796244_);
}
.st10 {
	fill: url(#SVGID_00000156569563918166300340000004203659938029773722_);
}
.st11 {
	fill: #8dd8f7;
}
.st12 {
	fill: url(#SVGID_00000008844076073152033080000004194667496677703825_);
}
.st13 {
	fill: url(#SVGID_00000032611475165497944670000011199854902348710534_);
}
.st14 {
	fill: url(#SVGID_00000166639857219151871920000005227691261993286282_);
}
.st15 {
	fill: url(#SVGID_00000162325491981951416820000011117156224126527878_);
}
.st16 {
	fill: #001f62;
}
.st17 {
	fill: url(#SVGID_00000101809741649075607150000016381135293836502925_);
}
.st18 {
	fill: url(#SVGID_00000162313487389316253340000004658276819755908539_);
}
.st19 {
	fill: url(#SVGID_00000090277349817057107240000000244958507442203573_);
}
.st20 {
	fill: #3fb8f1;
}
.st21 {
	fill: #003586;
}
.st22 {
	fill: url(#SVGID_00000165934229103826935710000002654322024185334177_);
}
.st23 {
	fill: url(#SVGID_00000169531218341749716650000009156633936708546710_);
}
