rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {  
    // Anyone can READ anything in the `/players` collection and subcollections.
    match /players/{document=**} {
      allow get, list:
      if true;
    }

    // Anyone can READ anything in the `/teams` collection and subcollections.
    match /teams/{document=**} {
      allow get, list:
      if true;
    }
    
    // UPDATE: Must be authenticated.
    // Can only update their own.
    // Can only update firstname, lastname, and team.
    match /players/{uid}{
      allow update:
      if request.auth != null &&
      request.auth.uid == uid &&
      request.resource.data.diff(resource.data).affectedKeys().hasOnly(['firstname', 'lastname', 'team'])
    }
  }
}